<!-- 
> Chaque PostListItemComponent affichera le titre, le contenu 
    et la date de création du post dans le template 
> Les PostListItemComponent auront des boutons qui permettent d'augmenter 
    et de diminuer le nombre de loveIts     
— cette modification aura uniquement un effet sur le component, 
    et n'a pas besoin d'être remontée au component parent
--> 
<!-- Intégrer un bouton "Supprimer post" sur chaque PostListItemComponent -->
<li [ngClass]="{'list-group-item': true,
                'list-group-item-success': post.loveIts > 0,
                'list-group-item-danger': post.loveIts < 0}" > 
    <span class="pull-right">
        <i class="glyphicon glyphicon-calendar"></i>
        {{ post.createdAt | date: 'short' }}
    </span>
    <h4>{{ post.title }}</h4>
    <p style="text-align: justify;">{{ post.content }} </p>
    <button class="btn btn-success" (click)="onLoveIt()">
       <span class="badge" *ngIf="post.loveIts>0" >{{ post.loveIts }}</span>  
       &nbsp;
       <i class="glyphicon glyphicon-thumbs-up"></i> Love it</button> 
    &nbsp;
    <button class="btn btn-danger" (click)="onDontLoveIt()" >
       <span class="badge" *ngIf="post.loveIts<0" >{{ showDontLoveIt() }}</span> 
       &nbsp;
       <i class="glyphicon glyphicon-thumbs-down"></i> Don't love it</button>    
    
    <button title="Supprimer Poste [ {{ post.title }} ] " class="btn btn-danger pull-right"
            (click)="onDeletePostByIndex()" >
        <i class="glyphicon glyphicon-trash"></i></button>
</li>